<div class="container">
  <div class="row mt-5 bg-primary text-white">
    <h1 class="display-4 ml-2">Users</h1>
  </div>

  <span *ngIf="users.length === 0">No result</span>

  <div class="row mb-2 mt-2">
    <div>
      <input
        class="form-control"
        type="text"
        id="search"
        placeholder="Search"
        [(ngModel)]="searchText"
        (keyup)="onSearch()"
      />
    </div>

    <div class="col">
      <button class="btn btn-info float-right" (click)="openModal()">
        Add User
      </button>
      <button routerLink="/todos" class="btn btn-info mr-2 float-right">
        View Todos
      </button>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped"  *ngIf="users.length > 0">
      <thead *ngIf="users.length > 0">
        <tr class="bg-secondary text-white">
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Occupation</th>
          <th>Todos</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.occupation }}</td>
          <td>
            <a routerLink="/todos/{{ user.id }}">View Todos</a>
          </td>
          <td>
            <button
              class="btn btn-outline-success mb-2 mr-2"
              (click)="openModal()"
            >
              Edit
            </button> 

            <button
              class="btn btn-outline-danger mb-2 mr-2"
              (click)="delModal()"
            >
              Delete
            </button> 
            
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td class="p-2" colspan="6">
            Showing {{ users.length }} results of {{ users.length }}.
          </td>
        </tr>
      </tfoot>
    </table>

    <div>
      <ngb-pagination [collectionSize]="1" [(page)]="page" [directionLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
