<div class="container container mx-auto box-shadow  mt-7 w-75 bg-white">
  <h1 class="display-4 mt-5" style="background-color: dodgerblue;">Users</h1>

  <div class="row mb-2">
    <div class="col">
      <input
        class="form-control"
        type="text"
        id="search"
        placeholder="Search"
        [(ngModel)]="searchText"
        (keyup)="onSearch()"
      />
    </div>

    <div class="col">
      <button class="btn btn-info float-right" (click)="addTodo()">Add User</button>
      <button routerLink="/todos" class="btn btn-info mr-2 float-right">
        View Todos
      </button>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr style="background-color:#E9967A;">
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Occupation</th>
          <th>Todos</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of filteredData">
          <td>{{ user.id }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.occupation }}</td>
          <td>
            <a routerLink="/todos/{{ user.id }}">View Todos</a>
          </td>
          <td>
            <a (click)="onUpdate(user)">Edit</a> |
            <a (click)="onDelete(user)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
