<div class="container d-flex justify-content-center">
  <div class="w-50 border border-success p-2 mt-5">
    <h3 class="panel-title">Edit Information</h3>
    <hr />

    <form action="">
      <div class="form-group">
        <label for="todoId">Id:</label>
        <input
          type="text"
          class="form-control"
          id="todoId"
          placeholder="Enter id..."
        />
      </div>
      <div class="form-group">
        <label for="todo-name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="todo-name"
          placeholder="Enter name..."
        />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Enter description..."
        />
      </div>

      <div class="form-group">
        <label for="Status">Status:</label>
        <input
          type="text"
          class="form-control"
          id="status"
          placeholder="Enter status..."
        />
      </div>

      <div class="form-group">
        <label for="owner">Select Owner</label>
        <select class="form-control" id="owner">
          <option>Select</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary float-right ">
        Save Changes
      </button>
      <button
        type="button"
        class="btn btn-secondary float-right mr-3"
        (click)="cancel()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
