<div class="container mx-auto box-shadow mt-7 w-75 bg-white">
  <div class="row mt-5 bg-primary text-white">
    <h1 class="display-4 ml-2">Todos</h1>
  </div>

  <span *ngIf="todos.length === 0">No result</span>

  <div class="row mb-2 mt-2">
    <div>
      <input
        class="form-control"
        type="text"
        id="search"
        placeholder="Search"
        [(ngModel)]="searchText"
        (keyup)="onSearch()"
      />
    </div>

    <div class="col">
      <button class="btn btn-info float-right" (click)="addModal()">
        Add Todo
      </button>
      <button routerLink="/users" class="btn btn-info mr-2 float-right">
        View Users
      </button>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped" *ngIf="todos.length > 0">
      <thead *ngIf="todos.length > 0">
        <tr class="bg-secondary text-white">
          <th>#</th>
          <th>Tasks</th>
          <th>Description</th>
          <th>Status</th>
          <th>Assigned User</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.id }}</td>
          <td>{{ todo.name }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.status }}</td>
          <td>{{ todo.owner }}</td>
          <td>
            <button
              class="btn btn-outline-success mb-2 mr-2"
              (click)="addModal()"
            >
              Edit
            </button>

            <button
            class="btn btn-outline-danger mb-2 mr-2"
            (click)="delModal()"
          >
            Delete
          </button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td class="p-2" colspan="6">
            Showing {{ todos.length }} results of {{ todos.length }}.
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

<div>
  <ngb-pagination [collectionSize]="1" [(page)]="page" [directionLinks]="true"></ngb-pagination>
</div>
    
</div>
