<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Information</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form action="">
    <div class="modal-body" *ngIf="todos">
      <div class="container">
        <div>
          <div class="form-group">
            <label for="todoId">Id:</label>
            <input type="text" class="form-control" id="todoId" />
          </div>
          <div class="form-group">
            <label for="todo-name">Name:</label>
            <input type="text" class="form-control" id="todo-name" />
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" />
          </div>

          <div class="form-group">
            <label for="Status">Status:</label>
            <input type="text" class="form-control" id="status" />
          </div>

          <div class="form-group">
            <label for="owner">Select Owner</label>
            <select class="form-control" id="owner">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        Cancel
      </button>

      <button type="submit" class="btn btn-primary float-right ">
        Save Changes
      </button>
    </div>
  </form>
</ng-template>
